*{
	font-family: Karla, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
  	vertical-align: baseline;
}

body{

}

.container{
	position: relative;
	width: auto;
}

.quoteBox{
	min-height: 300px;
	border-radius: 5px;
	width: 800px;
	/*margin: 100px auto 0;*/
	margin: 15% auto;
	background-color: #fff;
}

button{
	height: 50px;
	background: #c8102e;
	color: #fff;
	padding: 15px 30px;
	border-radius: 5px;
	outline: none;
	font-size: 16px;
	font-weight: 100;
	text-transform: uppercase;
}

button:hover,
.tweetBtn:hover{
	opacity: 0.85;
}

#text{
	font-size: 30px;
	color: #999;
	padding: 30px;
	line-height: 1.5;
}

.btns{
	position: absolute;
	width: inherit;
	bottom: 0;
}

.tweetBtn{
	background-color: #c8102e;
	padding: 10px;
	height: 50px;
	border-radius: 5px;
	color: #fff;
	font-size: 1.5em;
	margin-left: 10px;
	position: absolute;
	border-bottom: 4px solid #a70e27;
}

.quoteBtn{
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
	border-bottom: 4px solid #a70e27;
}

.quoteText{
	padding: 0 25px;
	/*margin-bottom: 50px;*/
}

.quoteText i{
	font-size: 2em;
	color: #919191;
	padding: 20px 0 0 50px;
}

.quoteAuthor{
	font-size: 10px;
	float: right;
	right: 0;
	bottom: 0;
	position: absolute;
    width: 100%;
    height: 104px;
}

.quoteAuthor span{
	color: #919191;
    font-size: 25px;
    right: 23%;
    position: fixed;
}

.dash{
	font-size: 30px;
}

.container{

}

.logo{
	width: 50px;
	margin: 50px auto 0;
	display: block !important;
}

.title{
	font-weight: 100;
}

.shadow{
	box-shadow: rgb(179, 96, 96) 0px 0px 20px 5px;
}

.randomColor{

}

.red{
	color: #c8102e;
}

.redBg{
	background-color: #c8102e;
}

.lightGrey{
	color: #ddd;
}

.darkGrey{
	color: #333;
}

.center{
	text-align: center;
}

.white{
	color: #fff;
}
